@model KOP_Store.Models.mdlDefineUsers
@{
    Layout = null;
}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/functions/Login.js?v=1.6"></script>
<script src="~/functions/PublicFunc.js?v=1.4"></script>
<script src="~/Scripts/notify.js"></script>
<script src="~/Scripts/notify.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Styles/bagaStyle.css" rel="stylesheet" />
@* Date *@
<link href="~/Contentx/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Contentx/bootstrap-theme.min.css" />
<link rel="stylesheet" href="~/Contentx/MdBootstrapPersianDateTimePicker/jquery.Bootstrap-PersianDateTimePicker.css" />
<script src="~/Scriptsx/jquery-2.1.4.js" type="text/javascript"></script>
<script src="~/Scriptsx/bootstrap.min.js" type="text/javascript"></script>
<script src="~/Scriptsx/MdBootstrapPersianDateTimePicker/calendar.js" type="text/javascript"></script>
<script src="~/Scriptsx/MdBootstrapPersianDateTimePicker/jquery.Bootstrap-PersianDateTimePicker.js" type="text/javascript"></script>

<script src="~/Scriptsx/MdBootstrapPersianDateTimePicker/calendar.js" type="text/javascript"></script>
<link rel="stylesheet" href="~/Content/jquery-confirm.css" />
<script src="~/Scripts/jquery-confirm.js"></script>



<head>
    <meta name="viewport" content="width=device-width" />
    <title>Help Desk Asset Management- Login</title>
</head>
<style>
    .centered {
        position: fixed;
        top: 50%;
        left: 150%;
        /*margin-top: -50px;*/
        /*margin-left: -100px;*/
    }
</style>

<body>

    <div class="row">

        <div id="LoginBox" class="modalDiv" style="margin-top: 10%; margin-left: 35%; height:300px">
            <label class="lblStyle">سامانه ی مدیریت اموال و انبار HelpDesk</label>
            <br /><br />
            <label class="lblStyle">نام کاربری را وارد نمایید</label>
            <br />
            <input id="txtUserName" type="text" class="txtStyle" placeholder="نام کاربری">
            <br />
            <label class="lblStyle">کلمه ی عبور را وارد نمایید</label>
            <br />
            <input id="txtPassword" type="password" class="txtStyle" placeholder="کلمه عبور">
            <br />
            <button class="myBtn" id="cmdLogin" onclick="loginTo()">Login</button>

            <label id="lblIP" style="display: none"></label>

        </div>
    </div>



</body>

