body {
    margin: 0;
    padding: 0;
    direction: rtl;
    
}


@font-face {
    font-family: 'BYekan'; /*تعریف یک نام برای فونت*/
    src: url('../fonts/BYekan.eot'); /*اکسپلورر 9 به بعد*/
    src: local('bYekan'), /*بررسی نصب بودن فونت در سیستم کاربر*/
         local('b Yekan'), /*برای برخی از مرورگرها مانند سافاری*/
         url('../fonts/BYekan.ttf') format('truetype'); /*تمام مرورگرها به جزء اکسپلورر*/
    font-style: normal;
    font-weight: normal;
}
.myDiv {
    font-family: BYekan,Tahoma, Arial, Helvetica, sans-serif;
    /*margin-right: 50px;*/
    /*margin-top: 10px;*/
    /*background-color: darkblue;*/
    background-image: linear-gradient(to right, #0F2027,#203A43,#2C5364);
    width: 100%;
    overflow: auto !important;
}

.subDiv {
    font-family: BYekan,Tahoma, Arial, Helvetica, sans-serif;
    position: relative;
    width: 90%;
    display: none;
    margin-right: 5%;
}
.dockedDiv {
    font-family: BYekan, Tahoma, Arial, Helvetica, sans-serif;
    
    /*    display: flex;
    flex-direction: column;;*/
    height: 100%;
    width: 10%;
    background-image: linear-gradient(to right, #0F2027,#203A43,#2C5364);
    /*background-color: darkslategray;*/
    border-style: dashed;
    border-left-width: thin;
    border-top-width: 0;
    border-bottom-width: 0;
    border-right-width: 0;
    border-left-color: #000000;
    float: right;
}


.row {
    font-family: BYekan,Tahoma, Arial, Helvetica, sans-serif;
    display: flex;
    height: 100%;
    background-image: linear-gradient(to right, #0F2027,#203A43,#2C5364);
    /*background-color: darkslategray;*/
}
/*.row:after {
    content: "";
    display: flex;
    clear: both;
}*/
.modalDiv {
    font-family: BYekan,Tahoma, Arial, Helvetica, sans-serif;
    direction: rtl;
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px;
    margin: 0;
    width: 500px;
    height: 200px;
    background-color: white !important;
    box-shadow: 4px 4px 4px #444;
    border-style: solid;
    border-top-width: 30px;
    /*border-color: rgba(0, 80, 0, 0.4);*/
    border-color: black;
}

.myBtn {
    display: flex;
    justify-content: center;
    position: relative;
    color: #ffffff;
    background-color: #0f2027;
    font: 12px byekan;
    line-height: 20px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    /*transform: translateX(-50%);*/
    margin-top: 3%;
    margin-left: 1%;
    width: 99%;
    border: none;
    /*padding: 15px 32px;*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}

    .myBtn:hover {
        background: darkorange;
        color: black;
        box-shadow: 2px 2px grey;
    }

    .myBtn:active {
        box-shadow: 0px 5px 5px silver;
    }
    .myBtn:disabled {
        background: gray;
        color: white;
        cursor: auto;
    }
        .myBtn:disabled:hover {
            box-shadow: 0px 0px grey;
        }

.myRadiousBtn {
    display: block;
    position: static;
    margin: 10px;
    /*float: right;*/
    width: auto;
    height: 30px;
    color: white;
    background-color: #4276f4;
    font-family: Tahoma;
    font-size: 16px;
    line-height: 0px;
    cursor: pointer;
    border-radius: 50px;
    text-align: center;
}

    .myRadiousBtn:hover {
        background: #4286f4;
        color: black;
        box-shadow: 2px 2px grey;
    }

    .myRadiousBtn:active {
        box-shadow: 0px 5px 5px silver;
    }

.myTbl {
    display: block;
    /*float: right;*/
    table-layout: auto;
    direction: rtl;
    width: 100%;
    font: 12px tahoma;
    cursor: default;
}

    .myTbl td {
        text-align: center;
    }

    .myTbl thead tr {
        width: 100%;
        height: 30px;
        line-height: 30px;
        background: #000;
        color: #fff;
        font-weight: bold;
    }

    .myTbl tbody tr.Error {
        background: #ff4500 !important;
        cursor: pointer;
    }

    .myTbl tbody tr:hover {
        background: #c471ed !important;
        cursor: pointer;
    }

    .myTbl tbody tr.rowSelected {
        background: cadetblue !important;
    }

        .myTbl tbody tr.rowSelected:hover {
            background: cadetblue !important;
            cursor: default !important;
        }

    .myTbl tbody tr:nth-child(odd) {
        width: 100%;
        height: 30px;
        line-height: 30px;
        background: #12c2e9;
    }

    .myTbl tbody tr:nth-child(even) {
        width: 100%;
        height: 30px;
        line-height: 30px;
        background: #fff;
    }

    .myTbl tr td {
        width: 20%;
        height: 30px;
        line-height: 30px;
        /*border: 1px solid ;*/
    }


.txtStyle {
    font-family: Tahoma;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #FFFFFF no-repeat 2px 2px;
    margin: 5px 5px 5px 5px;
    height: 40px;
    width: 200px;
    padding: 1px 5px 1px 1px;
    border: 2px solid rgba(0, 80, 0, 0.4);
    position: relative;
}

.txtfilter {
    font-family: Tahoma;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #6dd5fa no-repeat 2px 2px;
    margin: 5px 5px 5px 5px;
    height: 25px !important;
    width: 100px;
    padding: 1px 5px 1px 1px;
    border: 2px solid rgba(0, 80, 0, 0.4);
    position: relative;
}
    .txtStyle:focus {
        margin-right: 2px;
        width: 200px;
        transition: all 0.10s ease-in-out;
        border: 1px solid rgba(0, 80, 0, 0.4);
        box-shadow: 3px 3px #888888;
    }

.lblStyle {
    margin: 2px 5px 2px 2px;
}

.lblStyle .linki{
    color: #c471ed !important;
}

.lblStyle .linki:hover {
    color: #d2691e !important;
    cursor: pointer !important;
}

    .lblfilter {
    margin: 2px 5px 2px 2px;
    font-size:12px;
    color: white;
}

#lblDisplayDeleteInfo {
    color: black;
    outline-width: 2px;
    outline-offset: 5px;
    outline-color: red;
    outline-style: dashed;
    text-align: center;
    margin-right: 15%;
}

/*tooltip*/
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

    .tooltip .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -60px;
        opacity: 0;
        transition: opacity 0.3s;
    }

        .tooltip .tooltiptext::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
        }

    .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }
